extends layout

block content
    h1 We came for service to you.
        marquee(behavior='alternate', direction='left')
            img(src='/images/customercare.jpg')
            img(src='/images/tollfree.png')
    section.css-table
        section.two-column
            section.cell
                h2 Personal Banking
                p We take care of all your personal banking needs. Whether it is deposits, loans, insurance, demat accounts or mutual fund investments, our personal banking services provide you with a gamut of solutions to help you live out all your dreams. The range of technology backed services like our internet banking, mobile banking, utility bill payment, rail / air ticket booking, online and offline share trading facilities help you to manage all your personal finances from the comfort of your own home or office.
            section.cell
                h2 Corporate Banking
                p Trust Bank welcomes you to a corporate experience. We recognise your corporate financial needs and our full range of online services help you make your corporate needs easier and less cumbersome to manage.robore ad quam vis vadisen vlavis confecs nis revinc tae. Ietm hae magnitu dine for super oper mari aggere. Oppidi his mowni bus suifs fortunis desp erate coe magno recipei ban ibi se rursus isdem opport unitel rursus isdem opport loci defen porti busi. Navigandi ad nunc. Que neque pedibus ipsorum, naves ad hunc mod arm aeque, erant fere situs oppi dorum ut facilus. Vada ac desussum aestus exipe aditurn habere ex alto.
    section.css-table
        section.three-column
            section.cell
                h3 Mobile Banking
                p The Micro, Small and Medium Enterprises (MSME) sector has acquired a prominent place in the growth of the Indian economy. The role of Micro, Small and Medium Enterprises (MSME) in the economic and social development of the country is well established. Lending to the MSME sector has acquired significance with the enactment of Micro, Small and Medium Enterprises Development Act in the year 2006 [MSMED Act, 2006] by the Government of India to have a focused and balanced growth of Micro, Small and Medium Enterprises.
            section.cell
                h3 Tele Banking
                p We reach out to you no matter which part of the world you are in. You can rely on Karur Vysya Bank for all your NRI services. Whether it is to place deposits or send money back to India safely and securely, you can rely on us to do it for you
            section.cell
                h3 Debit Cards
                p For your convenience, Karur Vysya Bank offers internationally accepted VISA debit card services that give you great convenience whether it is to access an ATM, book travel tickets through the Internet or shop online. The Verified by VISA security-enabled feature ensures that you get peace of mind when using our cards. Best of all, your international Karur Vysya Bank card eliminates the need to carry large amounts of cash.
