extends layout

block content
    h1  Welcome to Trust Bank Corporate website.
    h2  "The Name you can know".Thanks for being with us!
        marquee(behavior='alternate', direction='left')
            img(src='/images/home.jpg', width='200', height='200', alt='smile')

    section.css-table
        section.two-column
            section.cell
                h2 Savings And Accounts
                p At Karur Vysya Bank, we offer you a one-stop shop solution for all your financial needs. Whether you are an individual, a small or medium business unit, a Corporate, an NRI or in the agricultural sector, Karur Vysya brings you world class options that cater to all your needs. With over 90 years of exceptional banking services, you should expect nothing less.
            section.cell
                h2 Quick Links
                    marquee(behavior='scroll', direction='up')
                        header
                        nav
                            ul
                                li
                                    a(href=" http://indane.co.in/") Gas Booking
                                li
                                    a(href=" https://www.irctc.co.in") IRCTC Ticket Booking
                                li
                                    a(href=" https://www.tnebnet.org/awp/login") TNEB Bill Payment
    section.css-table
        section.three-column
            section.cell
                h3 History And Developements
                p Karur Vysya Bank was started in the year 1916 in Karur, then a small textile town with a vast agricultural background, by two illustrious sons of the soil – Sri M.A. Venkatarama Chettiar and Sri Athi Krishna Chettiar. What started as a venture with a seed capital of Rs. 1.00 lakh has grown into a leading financial institution that offers the wide gamut of financial services to millions of its customers under one roof.
            section.cell
                h3 Interest Rates & Service charges
                p terest will be calculated at the rate applicable for the period the deposit has actually remained with the bank. The rates are subject to change without notice.
            section.cell
                h3 Feed Back And Complaint
                p At Karur Vysya Bank we are committed to make Banking a pleasant experience. Please feel free to give us your feedback / complaint here to help us ensure we meet our commitment and promise to you.
