
block content

    h3 You are Successfully Logedout!
    //img(src='/images/logoutsq.jpg', width='200', height='200')
    img(src='/images/logouts.jpg', width='200', height='200')
    input(type="button",name="submit",id="submit",value="Close All Window",onclick="myWindowClose()")
    &nbsp;
    input(type="button",name="submit",id="submit",value="Click to Re-Login",onclick='window.location.href="/retail"')

 hr