!!! 5
html
    body
        p(align="middle")
            img(src='/images/signingout.gif',align="middle")
        script
           setTimeout(function(){window.location.assign("http://localhost:3000/login")}, 3000);
