!!! 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/style1.css')
        link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
        script(type='text/javascript',src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        script(type='text/javascript', src='/JavaScript/validate.js')
        script(type='text/javascript', src='/JavaScript/loginValidate.js')
        script(type='text/javascript', src='/JavaScript/NewUserValidate.js')
        script(type='text/javascript', src='/JavaScript/window.js')
        script(type='text/javascript', src='/JavaScript/resetValidation.js')
    body
        header
            nav
                ul
                    img(src='/images/trustlogo.png', width='75', height='75' , align='left') 
                    Label Welcome :&nbsp;
                    Label
                        - for (var j = 0; j < userDetails.length; ++j) {
                        label= userDetails[j].first_name
                        - }
                        &nbsp;
                        - for (var j = 0; j < userDetails.length; ++j) {
                            label= userDetails[j].last_name
                            - }
                    li
                        a(href="/changepassword") Change Password
                    li
                        a(href="/profileupdate") Profile Update
                    li
                        a(href="/logout") Logout
    section#wrapper
        table.css-table
            tr
                td(width="40%")
                    table.two-column
                        tr
                            td
                                section.cell
                                    h2 Account Details
                                    header
                                        nav
                                            ul
                                                li
                                                    a(href="/accountstatement") Account Statement
                                                li
                                                    a(href="/cca") CCA Account Details
                                                li
                                                    a(href="/transactionreport") NEFT/RGTS Report
                        tr
                            td
                                section.cell
                                    h2 Fund Transfer
                                    header
                                        nav
                                            ul
                                                li
                                                    a(href="/nefttransaction") NEFT Transactions
                                                li
                                                    a(href="/nefttransaction") RTGS Transactions
                                                li
                                                    a(href="/nefttransaction") IMPS Transactions
                                                li
                                                    a(href="/beneficiary") Beneficiary Maintenance
                        tr
                            td
                                section.cell
                                    h2 Personal Info
                                    header
                                        nav
                                            ul
                                                li
                                                    a(href="/changepassword") Change Password
                                                li
                                                    a(href="/profileupdate") Profile Update
                                                li
                                                    a(href="/feedbackORcomplaint") Feedback  / Complaints
                td(width="60%")
                    table.two-column
                        tr
 
            block content

            
