!!! 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/netbankinghome.css')
        link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
        script(type='text/javascript',src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        script(type='text/javascript', src='/JavaScript/validate.js')
        script(type='text/javascript', src='/JavaScript/loginValidate.js')
        script(type='text/javascript', src='/JavaScript/NewUserValidate.js')
        script(type='text/javascript', src='/JavaScript/window.js')
    body

        section#wrapper
            block content

      
