extends netbankingAdminlayout

block content
    header
        nav
    h1 Reports Management.
    form#user_registration_form(action='/insert',enctype="multipart/form-data",data-ajax="false",id='BDEFormID',name = 'user_reigstration_form',method='post')
        header(style='padding-left:8px;')
        br


